
*{
	box-sizing: border-box;
	margin: 0;
	padding-bottom: 5px;

}
body{
	font-family: URW Chancery L, cursive;
}
#header-nav {

	background-color: #8fa9bf;
	border-radius: 0;
	border: 0;
	position: relative;
}
.navbar-brand h1 { 
  font-family: URW Chancery L, cursive;

  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
 
  line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
	font-family: URW Chancery L, cursive;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.container-fluid{
	position: relative;
}

h1{
	
	margin-bottom:50px;
	
	width: 100%;
	font-size: 40px;
	font-family: URW Chancery L, cursive;
	font-weight: bold;
	color: black;
}



h3{

	
	font-family: URW Chancery L, cursive;
	font-weight: bold;
	text-align: center;
	
}


.st1{
	border: 1px solid black;
	background-color:#8fa9bf;
	width: 100%;
	padding:20px;

	font-family:URW Chancery L, cursive;
	color: black;
	position: relative;
	text-align: justify;

}
.row {
	width: 100%;


}
p{

	padding-top: 10px;
}
a{
	color: #005a96;
	font-weight: bold;
}